flow/kspflows.json
[
    {
        "id": "8a4dd060.9ac4f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ecf38133.0b35f",
        "type": "subflow",
        "name": "Lấy dữ từ iNut F4",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "4ec31910.436518"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 859.0000343322754,
                "y": 98.00000190734863,
                "wires": [
                    {
                        "id": "be361599.39d598",
                        "port": 0
                    }
                ]
            },
            {
                "x": 968.0000343322754,
                "y": 102.00000286102295,
                "wires": [
                    {
                        "id": "be361599.39d598",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1048.9999732971191,
                "y": 101.00000381469727,
                "wires": [
                    {
                        "id": "be361599.39d598",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1059,
                "y": 253,
                "wires": [
                    {
                        "id": "be361599.39d598",
                        "port": 3
                    }
                ]
            }
        ],
        "inputLabels": [
            "Nhận đầu vào MQTT IN từ iNut cảm biến"
        ],
        "outputLabels": [
            "Luồng cảm biến 1",
            "Luồng cảm biến 2",
            "Luồng cảm biến 3",
            "Luồng cảm biến 4",
            "Luồng cảm biến 5",
            "Luồng cảm biến 6",
            "Luồng cảm biến 7",
            "Luồng cảm biến 8"
        ]
    },
    {
        "id": "cc73e59d.d3a7d8",
        "type": "ui_group",
        "z": "",
        "name": "Thứ nhất",
        "tab": "9f59aeae.b167c",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "78a2031b.904b3c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.mysmarthome.vn",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "c5d131c4.68dcd",
        "type": "ui_group",
        "z": "",
        "name": "Trạng thái kết nối",
        "tab": "9f59aeae.b167c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9f59aeae.b167c",
        "type": "ui_tab",
        "z": "",
        "name": "Điều khiển thiết bị",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "484b9347.cae5fc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.mysmarthome.vn",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4db7e527.137fac",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4ec31910.436518",
        "type": "json",
        "z": "ecf38133.0b35f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 165,
        "y": 84,
        "wires": [
            [
                "ff789ee2.b3d1a"
            ]
        ]
    },
    {
        "id": "be361599.39d598",
        "type": "switch",
        "z": "ecf38133.0b35f",
        "name": "Phân luồn",
        "property": "relayId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 825.9869575500488,
        "y": 288.1562738418579,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "ff789ee2.b3d1a",
        "type": "function",
        "z": "ecf38133.0b35f",
        "name": "Lặp",
        "func": "if (!msg.states) {\n    msg.states = msg.payload\n    msg.i = 0\n    return msg;\n} else {\n    msg.i++\n    if (msg.states[msg.i])\n        return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 327.89060974121094,
        "y": 83.33600330352783,
        "wires": [
            [
                "a5be132b.86cb9"
            ]
        ]
    },
    {
        "id": "a5be132b.86cb9",
        "type": "function",
        "z": "ecf38133.0b35f",
        "name": "Lấy trạng thái thiết bị",
        "func": "msg.relayId = msg.i\nmsg.payload = msg.states[msg.i].state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 477.89060974121094,
        "y": 183.33600330352783,
        "wires": [
            [
                "ff789ee2.b3d1a",
                "be361599.39d598"
            ]
        ]
    },
    {
        "id": "583e17fc.f00e48",
        "type": "ui_template",
        "z": "8a4dd060.9ac4f",
        "group": "cc73e59d.d3a7d8",
        "name": "[Nâng cao][Code giao diện]",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style type=\"text/css\">\n.nr-dashboard-theme ui-card-panel {\n    border: 0px;\n}\nmd-card, ui-card-panel {\n    color: white !important;\n    font-weight: bold;\n    background-color: hsl(200,5%,15%) !important;\n    background-image: -webkit-linear-gradient( 0deg, hsla(0,0%,100%,0) 0px, hsla(0,0%,100%,.09) 50%, hsla(0,0%,100%,0) 100% ) !important;\n}\nbody, md-content {\n    font-size: 16px !important;\n    background-color: hsl(200,5%,15%) !important;\n    background-image: -webkit-linear-gradient( 0deg, hsla(0,0%,100%,0) 0px, hsla(0,0%,100%,.09) 50%, hsla(0,0%,100%,0) 100% ) !important;\n}\n.title-switch {\n    text-align:center;\n    font-size: 16px;\n    padding-bottom: 5px;\n}\n@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis);\n\n\n/* Footer ------------------------------------------------------ */\n\n#footer {\n    position: fixed;\n    z-index: 1000;\n    -moz-box-sizing: border-box;\n    box-sizing: border-box;\n    height: 200px;\n    padding: 30px;\n    left: 0;\n    right: 0;\n    bottom: 0;\n    \n    font: 13px/18px 'Terminal Dosis', sans-serif;\n    text-align: center;\n    \n    box-shadow: inset 0 2px 5px hsla(0,0%,0%,.5);\n\tbackground-color: hsl(0,0%,15%);\n\tbackground-size: 5px 5px;\n\tbackground-image:   -webkit-linear-gradient( 45deg, hsla(0,0%,0%,0) 0px, hsla(0,0%,0%,.10) 50%, hsla(0,0%,0%,0) 100% );\n\t\n\t\n\t-webkit-transform: translate3d(0,100%,0);\n\t   -moz-transform: translateY(100%);\n\t    -ms-transform: translateY(100%);\n\t     -o-transform: translateY(100%);\n\t        transform: translateY(100%);\n\t-webkit-transition: -webkit-transform .3s cubic-bezier(.43, .10, .12, 1);\n\t   -moz-transition:    -moz-transform .3s cubic-bezier(.43, .10, .12, 1);\n\t    -ms-transition:     -ms-transform .3s cubic-bezier(.43, .10, .12, 1);\n\t     -o-transition:      -o-transform .3s cubic-bezier(.43, .10, .12, 1);\n\t        transition:         transform .3s cubic-bezier(.43, .10, .12, 1);\n    }\n\n#footer:hover {\n\t-webkit-transform: translate3d(0,0,0);\n\t   -moz-transform: translateY(0);\n\t    -ms-transform: translateY(0);\n\t     -o-transform: translateY(0);\n\t        transform: translateY(0);  \n    }\n\n\n#footer > h1 {\n\tmargin: 0;\n\tcolor: hsla(0,0%,25%,1);\n\tfont-size: 40px;\n\tline-height: 1.5em;\n\tfont-weight: 500;\n\twhite-space: nowrap;\n    }\n\n#footer a {\n    display: inline-block;\n\tcolor: hsl(312, 100%, 76%);\n\tmargin: 0 8px;\n\tfont-size: 24px;\n\tline-height: 1.2em;\n\tfont-weight: 500;\n\tfont-style: normal;\n\ttext-decoration: none;\n    }\n#footer a:hover {\n\tcolor: hsl(312, 100%, 90%);\n    }\n#footer a:active {\n\tcolor: hsl(312, 50%, 50%);\n    }\n\n#footer .social {\n    margin-top: 20px;\n    }\n\n#footer .social a {\n\tcolor: hsla(0,0%,25%,1);\n    font-size: 16px;\n    }\n    \n#footer .social iframe {\n\tmargin: 0 4px;\n    }\n\n\n/* Stamp ------------------------------------------------------ */\n\n#footer > .stamp {\n\tposition: fixed;\n\tbottom: 200px;\n\tright: 0;\n\twidth: 120px;\n\theight: 120px;\n\tpadding: 0 20px 20px 0;\n\t}\n\n#footer > .stamp > .ink {\n\tposition: absolute;\n\twidth: 60px;\n\theight: 120px;\n\ttop: 0px;\n\tright: 20px;\n\tbackground: url(stamp.svg);\n\topacity: .2;\n\t-webkit-transition: -webkit-transform .3s cubic-bezier(.43, .10, .12, 1), opacity .3s ease-out;\n\t   -moz-transition:    -moz-transform .3s cubic-bezier(.43, .10, .12, 1), opacity .3s ease-out;\n\t    -ms-transition:     -ms-transform .3s cubic-bezier(.43, .10, .12, 1), opacity .3s ease-out;\n\t     -o-transition:      -o-transform .3s cubic-bezier(.43, .10, .12, 1), opacity .3s ease-out;\n\t        transition:         transform .3s cubic-bezier(.43, .10, .12, 1), opacity .3s ease-out;\n    }\n\n#footer:hover > .stamp > .ink {\n\topacity: 1;\n\t-webkit-transform: translate3d(0,180px,0);\n\t   -moz-transform: translateY(180px);\n\t    -ms-transform: translateY(180px);\n\t     -o-transform: translateY(180px);\n\t        transform: translateY(180px);\n    }\n/* This is just the basic styling for the whole page. */\n\n/* Global ------------------------------------------------------ */\n\nbody {\n\tfont: 62.5%/1 \"Lucida Sans Unicode\",\"Lucida Grande\",Verdana,Arial,Helvetica,sans-serif;\n\t\n\tbackground-size: 5px 5px !important;\n\t\n    }\n\nbody {\n    margin: 0;\n    }\n\n\n\n/* list ------------------------------------------------------ */\n\nul {\n    list-style: none;\n    padding: 50px 0;\n\tmargin: 0;\n\tfont-size: 2em;\n\ttext-align: center;\n\tbackground-image:   -webkit-linear-gradient( 0deg, \thsla(0,0%,100%,0) 0px, \n\t\t\t\t\t\t\t\t\t\t\t\t\t\thsla(0,0%,100%,.09) 50%,\n\t\t\t\t\t\t\t\t\t\t\t\t\t\thsla(0,0%,100%,0) 100% );\n\t\n    }\n\nul li {\n\tdisplay: inline-block;\n\tmargin: 50px;\n\tvertical-align: middle;\n \t}\n\n\n\n/* Aside ------------------------------------------------------ */\n\naside {\n    position: fixed;\n    top: 20px;\n    left: 20px;    \n    }\n\naside button {\n    margin: 0;\n    padding: 10px ;\n    border: none;\n    border-radius: 5px;\n    font-weight: bold;\n    color: hsl(200,100%,60%);\n    background: hsla(0,0%,0%,.12);\n    cursor: pointer;\n    outline: none;\n    }\n\naside button:hover {\n    background: hsla(0,0%,0%,.2);\n    }\n\naside button:active {\n    -webkit-transform: translateY(1px);\n    }\n/* \n * umbrUI checkboxes by @simurai\n * Usage: <input type=\"checkbox\" data-icon1=\"P\" data-icon2=\"v\" /> \t\n */\n\n\n/* ----------- Checkbox */\n\n\ninput[type=\"checkbox\"] {\n\t-webkit-appearance:none;\t/* Remove Safari default */\n\toutline: none;\n\twidth: 120px;\n\theight: 40px;\n\t\n\tposition: relative;\n\tborder-radius: 6px;\n\tbackground-color: #000;\n\t-webkit-background-clip: padding-box;\n\t\n\tborder: 0;\n\tborder-bottom: 1px solid transparent;\n\t-webkit-perspective: 200;\n}\n\ninput[type=\"checkbox\"]:before, input[type=\"checkbox\"]:after {\n\tfont: bold 22px/32px sans-serif;\n\t\n\ttext-align: \tcenter;\n\t\n\tposition: \tabsolute;\n\tz-index: \t1;\n    \n    width: \t\t\t56px;\n\theight: \t\t30px;\n    top: \t\t\t4px;\n    \n    border: 0;\n\tborder-top: 1px solid rgba(255,255,255,0.15);\n}\n\ninput[type=\"checkbox\"]:before {\n\tcontent: \tattr(data-icon1);\n\tleft: \t\t4px;\n\tborder-radius: 3px 0 0 3px;\n\n}\n\ninput[type=\"checkbox\"]:after {\n\tcontent: \tattr(data-icon2);\n\tright: \t\t4px;\n\tborder-radius: 0 3px 3px 0;\n}\n\n\n/* ----------- checked/unchecked */\n\n/* unchecked */\ninput[type=\"checkbox\"] {\n\t-webkit-border-image: -webkit-gradient(linear, 100% 0%, 0% 0%, \n\t\t\t\t\t\t\tfrom(rgba(255,255,255,0)), to(rgba(255,255,255,0)), \n\t\t\t\t\t\t\tcolor-stop(.1,rgba(255,255,255,.05)),\n\t\t\t\t\t\t\tcolor-stop(.3,rgba(5,137,200,0.4)),\n\t\t\t\t\t\t\tcolor-stop(.45,rgba(255,255,255,.05)),\n\t\t\t\t\t\t\tcolor-stop(.9,rgba(255,255,255,.1)) \n\t\t\t\t\t\t\t)100% 100%;\n\t\n\tbackground-image: -webkit-gradient(\n\t\tlinear, right top, left top,\n\t\tcolor-stop( 0, \thsl(0,0%,0%) ),\n\t\tcolor-stop( 0.14, \thsl(0,0%,50%) ),\n\t\tcolor-stop( 0.15, \thsl(0,0%,0%) )\n\t);\t\t\t\t\t\t\n\t-webkit-box-shadow: inset #000 -7px 0 1px, inset #000 0 -5px 10px, inset #000 0 3px 3px;\n}\ninput[type=\"checkbox\"]:after {\n\tbackground-image: -webkit-gradient(linear, 70% top, 40% bottom, \n\t\tfrom( hsl(0,0%,17%) ),to( hsl(0,0%,12%) ) \n\t);\n\tborder-right: 1px solid transparent;\n\t-webkit-border-image: -webkit-gradient(linear, left bottom, left top, \n\t\t\t\t\t\t\tfrom(rgba(255,255,255,0)), \n\t\t\t\t\t\t\tcolor-stop(.2,rgba(255,255,255,0)),\n\t\t\t\t\t\t\tcolor-stop(.4,rgba(255,255,255,.5)),\n\t\t\t\t\t\t\tto(rgba(255,255,255,.05))\n\t\t\t\t\t\t\t)10% 100%;\n\t\n\t-webkit-box-shadow: rgba(0,0,0,.6) 8px 3px 10px;\n\t-webkit-transform: rotateY(-30deg) scaleX(.9) scaleY(1.1) translateX(-8px);\n}\n\n\n/* checked */\ninput[type=\"checkbox\"]:checked {\n\t-webkit-border-image: -webkit-gradient(linear, 0% 0%, 100% 0%, \n\t\t\t\t\t\t\tfrom(rgba(255,255,255,0)), to(rgba(255,255,255,0)), \n\t\t\t\t\t\t\tcolor-stop(.1,rgba(255,255,255,.05)),\n\t\t\t\t\t\t\tcolor-stop(.3,rgba(5,137,200,0.4)),\n\t\t\t\t\t\t\tcolor-stop(.45,rgba(255,255,255,.05)),\n\t\t\t\t\t\t\tcolor-stop(.9,rgba(255,255,255,.1)) \n\t\t\t\t\t\t\t)100% 100%;\n\t\n\tbackground-image: -webkit-gradient(\n\t\tlinear, left top, right top,\n\t\tcolor-stop( 0, \thsl(0,0%,0%) ),\n\t\tcolor-stop( 0.14, \thsl(0,0%,50%) ),\n\t\tcolor-stop( 0.15, \thsl(0,0%,0%) )\n\t);\t\t\t\t\t\t\n\t-webkit-box-shadow: inset #000 7px 0 1px, inset #000 0 -5px 10px, inset #000 0 3px 3px;\n}\ninput[type=\"checkbox\"]:checked:before {\n\tbackground-image: -webkit-gradient( linear, 30% top, 60% bottom, \n\t\tfrom( hsl(0,0%,17%) ),to( hsl(0,0%,12%) ) \n\t);\n\tborder-left: 1px solid transparent;\n\t-webkit-border-image: -webkit-gradient(linear, left bottom, left top, \n\t\t\t\t\t\t\tfrom(rgba(255,255,255,0)), \n\t\t\t\t\t\t\tcolor-stop(.2,rgba(255,255,255,0)),\n\t\t\t\t\t\t\tcolor-stop(.4,rgba(255,255,255,.5)),\n\t\t\t\t\t\t\tto(rgba(255,255,255,.05))\n\t\t\t\t\t\t\t)10% 100%;\n\n\t-webkit-box-shadow: rgba(0,0,0,.6) -8px 3px 10px;\n\t-webkit-transform: rotateY(30deg) scaleX(.9) scaleY(1.1) translateX(8px);\n}\n\n\n/* ----------- active/inactve */\n\n/* Active */\ninput[type=\"checkbox\"]:before, input[type=\"checkbox\"]:checked:after {\n\tcolor: hsl(200,100%,50%);\n\ttext-shadow: \trgba(0,0,0,.5) 0 1px 1px, #0589c8 0 0 10px;\n\t-webkit-transform: none;\n\tbackground-image: -webkit-gradient( linear, left top, left bottom,\n\t\tfrom( \thsl(0,0%,20%) ), to( hsl(0,0%,15%) )\n\t);\n\t-webkit-border-image: none;\n\t-webkit-box-shadow: none;\n\t\n\tz-index: \t2;\t\t\t\t\t\n}\n\n/* Inactive */\ninput[type=\"checkbox\"]:after, input[type=\"checkbox\"]:checked:before {\n\tcolor: #000;\n\ttext-shadow: rgba(255,255,255,.1) 0 -1px 0;\n\t-webkit-box-reflect: none;\n\tz-index: \t1;\n}\n\n\n\n\n/* ----------- hover */\n\ninput[type=\"checkbox\"]:hover {\n\tcursor: pointer;\n}\n\ninput[type=\"checkbox\"]:hover:before {\n\tbackground-image: -webkit-gradient( linear, left top, left bottom,\n\t\tfrom( \thsl(0,0%,19%) ), to( hsl(0,0%,15%) )\n\t);\n\n}\ninput[type=\"checkbox\"]:hover:after {\n\tbackground-image: -webkit-gradient(linear, 70% top, 40% bottom, \n\t\tfrom( hsl(0,0%,16%) ),to( hsl(0,0%,11%) ) \n\t);\n}\n\ninput[type=\"checkbox\"]:checked:hover:before {\n\tbackground-image: -webkit-gradient( linear, 30% top, 60% bottom, \n\t\tfrom( hsl(0,0%,16%) ),to( hsl(0,0%,12%) ) \n\t);\n\n}\ninput[type=\"checkbox\"]:checked:hover:after {\n\tbackground-image: -webkit-gradient( linear, left top, left bottom,\n\t\tfrom( \thsl(0,0%,19%) ), to( hsl(0,0%,15%) )\n\t);\n}\n\n/* \n * umbrUI meter input by @simurai\n */\n\n\n\n/* -------------- meter -------------- */\n\nmeter:nth-child(1) { -webkit-transform: translate(-50px,  50px) rotate(-90deg); }\nmeter:nth-child(2) { -webkit-transform: translate( -25px,  25px) rotate(-90deg); }\nmeter:nth-child(3) { -webkit-transform: translate(   0px,   0px) rotate(-90deg); }\nmeter:nth-child(4) { -webkit-transform: translate(  25px, -25px) rotate(-90deg); }\nmeter:nth-child(5) { -webkit-transform: translate( 50px, -50px) rotate(-90deg); }\n\n\nmeter {\n\t-webkit-appearance: none;\n\tposition: relative;\n    display: block;\n    margin: 8px auto;\n\twidth: 100px;\n\theight: 17px;\n\tborder-radius: 5px; \t\n\tpadding: 4px 5px 4px 5px;\n    box-sizing: border-box;   \n    background: #000;\n\t-webkit-box-shadow: -1px 0 0 hsla(0,0%,100%,.08);\n\t-webkit-transform-origin: center 8px;\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n    }\n\n\nmeter::-webkit-meter-bar {\n    background-color: hsl(200,10%,14%);\n    background-size: 2px 5px;\n    background-image: \t-webkit-linear-gradient( 0deg,  hsla(0,0%,0%,.4) 1px, hsla(0,0%,0%,0) 1px ),\n    \t\t            -webkit-linear-gradient( 90deg, hsla(0,0%,0%,1) 1px, hsla(0,0%,0%,0) 1px );\t\n    }\n\n\nmeter::-webkit-meter-optimum-value,\nmeter::-webkit-meter-suboptimum-value,\nmeter::-webkit-meter-even-less-good-value {\n    background-size: inherit;\n    background-image: \tinherit;\n    -webkit-box-shadow: 0 0 10px 2px hsla(200,100%,50%,.4);\n    -webkit-transition: width 1s cubic-bezier(.20, .10, .20, 1);\n    }\n\n\n/* With these pseudo selectors you could change the colors when changing the value. */\nmeter::-webkit-meter-optimum-value           { background-color: hsl(200,100%,50%); }\nmeter::-webkit-meter-suboptimum-value        { background-color: hsl(200,100%,50%); }\nmeter::-webkit-meter-even-less-good-value    { background-color: hsl(200,100%,50%); }\n\n\nmeter:hover::-webkit-meter-optimum-value,\nmeter:hover::-webkit-meter-suboptimum-value,\nmeter:hover::-webkit-meter-even-less-good-value {\n\t/*In the real world, just change the element's value, this is just a hack for this demo.*/\n\twidth: 100% !important;\n\t-webkit-transition: width .3s cubic-bezier(.20, .10, .20, 1);\n    }\n\n/* \n * umbrUI number input by @simurai\n */\n\n@import url(http://fonts.googleapis.com/css?family=VT323);\n\n\n/* -------------- number -------------- */\n\ninput[type=\"number\"] {\n\t-webkit-appearance:\tnone;\n\toutline: none;\n\tposition: relative;\n\tz-index: 1;\n\t\n\twidth: 120px;\n\theight: 60px;\n    border-radius: 40px / 60px;    \n\t\n\tfont-family: 'VT323', cursive;\n\tfont-size: 36px;\n\tline-height: 40px;\n\ttext-align: center;\n\t-webkit-font-smoothing: none;\n\tcolor: hsl(200,100%,50%);\n\ttext-shadow: 0 -1px 0px hsla(200,100%,70%,1), 0 1px 0px hsla(0,0%,0%,.8), 0 0 13px hsl(200,100%,50%);\n\t\n\tborder: 0;\n\t\n\tbackground-color: hsl(200,10%,12%);\n\tbackground-size: 4px 4px;\n\tbackground-image: \t-webkit-linear-gradient( 0deg, hsla(0,0%,0%,0) 75%, hsla(0,0%,0%,.4) 75% ),\n\t\t\t\t\t\t-webkit-linear-gradient( 90deg, hsla(0,0%,0%,0) 75%, hsla(0,0%,0%,.4) 75% );\t\n\t\t\n\t-webkit-box-shadow: inset 0 0 0 4px hsla(0,0%,0%,1),\n\t\t\t\t\t\tinset 0 0 20px 5px hsla(0,0%,0%,.5),\n\t\t\t\t\t\t0 0px 0px 1px hsla(0,0%,0%,.4),\n\t\t\t\t\t\t0 1px 0 hsla(0,0%,100%,.25);\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n}\n\n\n/* Outer spin only works in Safari, so lets hide it */\ninput[type=\"number\"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }\n\n\n/* Spin button */\ninput[type=\"number\"]::-webkit-inner-spin-button {\n    -webkit-appearance: none;\n    width: 32px;\n    border-radius: 40px / 60px;    \n    border: 4px solid #000;\n    cursor: ns-resize;\n    \n    -webkit-box-shadow: inset 0px 0px 3px 1px hsla(0,0%,0%,.6),\n    \t\t\t\t\tinset 0px 6px 1px -2px hsla(0,0%,100%,.30),\n    \t\t\t\t\tinset 0px -7px 1px -1px hsla(0,0%,0%,.5);\n    \n    background-color: hsl(0,0%,20%);\n    background-image: \n    \t\t\t\t\n    \t\t\t\t-webkit-radial-gradient( 50% 5%, contain, \thsla(0,0%,100%,.2) 0%, hsla(0,0%,0%,0) 70% ),\n    \t\t\t\t-webkit-radial-gradient( 50% 86%, contain, \thsla(0,0%,100%,.05) 0%, hsla(0,0%,0%,0) 80% ),\n    \t\t\t\t-webkit-linear-gradient( -90deg, \thsl(0,0%,15%) 0%, \n    \t\t\t\t\t\t\t\t\t\t\t\t\thsl(0,0%,18%) 48%,\n    \t\t\t\t\t\t\t\t\t\t\t\t\thsl(0,0%,10%) 48%,\n    \t\t\t\t\t\t\t\t\t\t\t\t\thsl(0,0%,27%) 52%, \n    \t\t\t\t\t\t\t\t\t\t\t\t\thsl(0,0%,20%) 52%, \n    \t\t\t\t\t\t\t\t\t\t\t\t\thsl(0,0%,34%) 100% );\n        \t\t\t\t\t\t\t\t\t\t\t\t\t\n    -webkit-transition: border-color .2s ease-in-out;\n}\n\n\n/* :active */\n\ninput[type=\"number\"]:active::-webkit-inner-spin-button {\n\tborder-color: hsla(200,100%,50%,1);\n\t-webkit-box-shadow: inset 0px 0px 3px 1px hsla(200,100%,20%,.6),\n\t\t\t\t\t\tinset 0px 6px 1px -2px hsla(200,100%,70%,.4),\n\t\t\t\t\t\tinset 0px -7px 1px -1px hsla(200,100%,10%,.5),\n\t\t\t\t\t\t0px 0px 4px 3px hsla(200,100%,50%,.3);\n    \n    -webkit-transition: none;\t\t\t\t\t\t\t\t\t\t\t\t\t\n}\n\n/* \n * umbrUI progress input by @simurai\n */\n\n\n\n/* -------------- progress -------------- */\n\nprogress {\n\t-webkit-appearance: none;\n\tposition: relative;\n\twidth: 150px;\n\theight: 17px;\n\tborder-radius: 5px; \t\n\tpadding: 4px;   \n    background: #000;\n\t-webkit-box-shadow: 0 1px 0 hsla(0,0%,100%,.1);\n    \n    /*Disabled for now.\n    -webkit-box-reflect: below -3px -webkit-radial-gradient( 50% 70%, 50% 25%, hsla(0,0%,0%,.2) 0%, hsla(0,0%,0%,0) 95% );*/\n    }\n\n\nprogress::-webkit-progress-bar {\n    background-color: hsl(200,10%,14%);\n    background-size: 2px 5px;\n    background-image: \t-webkit-linear-gradient( 0deg,  hsla(0,0%,0%,.4) 1px, hsla(0,0%,0%,0) 1px ),\n    \t\t            -webkit-linear-gradient( 90deg, hsla(0,0%,0%,1) 1px, hsla(0,0%,0%,0) 1px );\t\n    }\n\n\nprogress::-webkit-progress-value {\n    background-size: inherit;\n    background-image: \tinherit;\n    background-color: hsl(200,100%,50%);\n    -webkit-box-shadow: 0 0 10px 2px hsla(200,100%,50%,.4);\n    -webkit-transition: width 1s cubic-bezier(.20, .10, .20, 1);\n    }\n\n\nprogress:hover::-webkit-progress-value {\n\t/*In the real world, just change the element's value, this is just a hack for this demo.*/\n\twidth: 100% !important;\n\t-webkit-transition: width .3s cubic-bezier(.20, .10, .20, 1);\n    }\n\n/* \n * umbrUI radio buttons by @simurai\n */\n\n\n\n/* ----------- radio */\n\ninput[type=\"radio\"] {\n\t-webkit-appearance:none;\t/* Remove Safari default */\n\toutline: none;\n\twidth: 68px;\n\theight: 80px;\n\t\n\tposition: relative;\n\tdisplay: inline-block;\n\tmargin: 3px;\n\tborder-radius: 6px;\n\t\n\tbackground-color: #000;\n\t\n\t-webkit-background-clip: padding-box;\n\t\n\tborder: 0;\n\tborder-bottom: 1px solid rgba(255,255,255,0.1);\n\t\n\t-webkit-perspective: 200;\n}\n\n\n\ninput[type=\"radio\"]:before {\n\tcontent: \t\tattr(data-icon);\n\t\n\tfont: \t\t\t22px/22px sans-serif;\n\ttext-shadow: \trgba(255,255,255,0.08) 0 -1px 0;\n\tline-height: \t40px;\n\t\n\ttext-align: \tcenter;\n\t\n\tposition: \t\tabsolute;\n\tz-index: \t\t10;\n    \n    width: \t\t\t60px;\n\theight: \t\t70px;\n\t\n\tmargin: 4px;\n\tborder-radius: 3px;\t\n\t\n    background-image: -webkit-gradient( linear, left top, left bottom,\n\t\tfrom( \thsl(0,0%,20%) ), to( hsl(0,0%,15%) )\n\t);\n\t\n\tborder-top: 1px solid rgba(255,255,255,0.15);\n\t\n}\n\n\ninput[type=\"radio\"]:after {\n\tcontent: \"\";\n\tz-index: \t\t12;\n\tposition: \t\tabsolute;\n   \n    margin: 3px;\n\tborder-radius: 3px;\n\t\n\tleft: \t\t\t6px;\n\ttop: \t\t\t62px;\n    width: \t\t\t50px;\n\theight: \t\t5px;\n\t\n\t-webkit-box-shadow: inset rgba(0,0,0,.2) 0 -1px 2px, inset rgba(255,255,255,.1) 0 1px 1px;\n\t\t\t\t\n}\n\n\n/* ----------- checked */\n\n\ninput[type=\"radio\"]:active, input[type=\"radio\"]:checked {\n\t-webkit-box-shadow: inset #000 4px 0px 4px, inset #000 -4px 0px 4px;\n\tbackground-image: -webkit-gradient(\n\t\tlinear, left top, left bottom,\n\t\tcolor-stop( 0, \t\thsl(0,0%,10%) ),\n\t\tcolor-stop( 0.14, \thsl(0,0%,30%) ),\n\t\tcolor-stop( 0.15, \thsl(0,0%,0%) )\n\t);\n\t\t\n}\n\n\n\ninput[type=\"radio\"]:active:before, input[type=\"radio\"]:checked:before {\n\tbackground-image: -webkit-gradient( linear, left top, left bottom,\n\t\tfrom( \thsl(0,0%,19%) ), to( hsl(0,0%,12%) )\n\t);\n\t\n\tz-index: \t\t11;\n\t\n\tborder: 0;\n\tborder-top: 1px solid transparent;\n\t-webkit-border-image: -webkit-gradient(linear, 0% 0%, 100% 0%, \n\t\t\t\t\t\t\tcolor-stop(0,  hsla(200,100%,85%,.05)),\n\t\t\t\t\t\t\tcolor-stop(.5, hsl(200,0%,40%)),\n\t\t\t\t\t\t\tcolor-stop(1,  hsla(200,100%,80%,.05)) \n\t\t\t\t\t\t\t)50% 100%;\n\t-webkit-box-shadow: 0px 2px 1px 1px hsl(0,0%,13%);\t\t\t\t\t\t\n\t-webkit-transform: rotateX(-25deg) scaleX(.95) translateY(4px);\n}\n\ninput[type=\"radio\"]:checked:before {\n\tcolor: hsl(200,100%,50%);\n\ttext-shadow: \trgba(0,0,0,.5) 0 1px 1px, #0589c8 0 0 10px;\t\n\t-webkit-border-image: -webkit-gradient(linear, 0% 0%, 100% 0%, \n\t\t\t\t\t\t\tcolor-stop(0,  hsla(200,100%,85%,.05)),\n\t\t\t\t\t\t\tcolor-stop(.5, hsl(200,20%,50%)),\n\t\t\t\t\t\t\tcolor-stop(1,  hsla(200,100%,80%,.05)) \n\t\t\t\t\t\t\t)50% 100%;\n}\n\ninput[type=\"radio\"]:active:after, input[type=\"radio\"]:checked:after {\n\ttop: 59px;\n\t-webkit-transform: scale(.9);\n\topacity: .4;\n}\n\n\n/* ----------- hover */\n\ninput[type=\"radio\"]:hover {\n\tcursor: pointer;\n}\ninput[type=\"radio\"]:checked {\n\tcursor: default;\n}\n\ninput[type=\"radio\"]:hover:before {\n\tbackground-image: -webkit-gradient( linear, left top, left bottom,\n\t\tfrom( \thsl(0,0%,19.5%) ), to( hsl(0,0%,14%) )\n\t);\n}\ninput[type=\"radio\"]:checked:hover:before {\n\tbackground-image: -webkit-gradient( linear, left top, left bottom,\n\t\tfrom( \thsl(0,0%,19%) ), to( hsl(0,0%,12%) )\n\t);\n}\n/* \n * umbrUI range slider by @simurai\n */\n\n\n/* -------------- Range Slider -------------- */\n\ninput[type=\"range\"] {\n\t-webkit-appearance:\tnone;\t/* Remove Safari default */\n\toutline: none;\n\twidth: 250px;\n\theight: 5px;\n\tborder-radius: 1px;\n\tposition: relative;\n\n\t\n\tbackground-color: #000;\n\t\n\t-webkit-background-clip: padding-box;\n\tborder: 0;\n\tborder-bottom: 1px solid rgba(255,255,255,0.1);\n\tcursor: ew-resize;\n}\n\ninput[type=\"range\"]::-webkit-slider-thumb {\n\t-webkit-appearance:\tnone;\t/* Remove Safari default */\n\tposition: relative;\n\tz-index: \t\t1;\n\n\twidth: 26px;\n\theight: 40px;\n\tborder-radius: 3px / 6px ;\n\t\n\tbackground-image: -webkit-gradient( linear, left top, right top,\n\t\tcolor-stop( 0, \t\thsl(0,0%,15%) ), \n\t\tcolor-stop( .16, \thsl(0,0%,22%) ), \n\t\tcolor-stop( .18, \thsl(0,0%,30%) ), \n\t\tcolor-stop( .2, \thsl(0,0%,26%) ), \n\t\t\n\t\tcolor-stop( .42,\thsl(200,60%,30%) ), \n\t\tcolor-stop( .44,\thsl(200,0%,15%) ), \n\t\tcolor-stop( .46,\thsl(200,100%,50%) ), \n\t\tcolor-stop( .54,\thsl(200,100%,50%) ), \n\t\tcolor-stop( .56,\thsl(200,0%,15%) ), \n\t\tcolor-stop( .58,\thsl(200,60%,30%) ), \n\t\t\n\t\tcolor-stop( .8,\t\thsl(0,0%,26%) ), \n\t\tcolor-stop( .82,\thsl(0,0%,30%) ), \n\t\tcolor-stop( .84,\thsl(0,0%,22%) ), \n\t\tcolor-stop( 1, \t\thsl(0,0%,15%) ) \n\t);\n\t\n\t-webkit-box-shadow: \n\t\t\n\t\tinset hsla(0,0%,100%,.15) 0 1px 0px,\n\t\t\n\t\thsl(0,0%,17%) 0 2px 0px,\n\t\thsl(0,0%,15%) 0 4px 0px,\n\t\thsl(0,0%,13%) 0 6px 0px,\n\t\t\n\t\trgba(0,0,0,.5) 0 8px 5px;\n\t\n\t-webkit-transform: translateY(-3px);\n\t-webkit-box-reflect: \tbelow 0px -webkit-gradient(linear, left top, left bottom, \n\t\t\t\t\t\t\tfrom(transparent), color-stop(0.6, transparent), to( rgba(255,255,255,0.15) ));\n}\n\ninput[type=\"range\"]:hover {\n\t\n\tbackground-image: -webkit-gradient( linear, left top, right top,\n\t\tcolor-stop( 0, \t\thsl(200,80%,45%) ), \n\t\tcolor-stop( .08, \thsl(200,80%,15%) ), \n\t\tcolor-stop( .5, \thsl(200,80%,0%) ), \n\t\tcolor-stop( .92,\thsl(200,80%,15%) ), \n\t\tcolor-stop( 1, \t\thsl(200,80%,45%) ) \n\t);\n\t\n\t-webkit-box-shadow: inset #000 1px 1px 1px, inset #000 -1px -1px 1px;\n\n}\n\n\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "global",
        "x": 2280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "450ec4ce.cccd4c",
        "type": "inject",
        "z": "8a4dd060.9ac4f",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 990,
        "y": 120,
        "wires": [
            [
                "f256d3ad.926ad"
            ]
        ]
    },
    {
        "id": "1d5a3815.c65d68",
        "type": "ui_text",
        "z": "8a4dd060.9ac4f",
        "group": "c5d131c4.68dcd",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Trạng thái F4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2030,
        "y": 160,
        "wires": []
    },
    {
        "id": "df26c273.78e56",
        "type": "change",
        "z": "8a4dd060.9ac4f",
        "name": "ONLINE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ONLINE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 120,
        "wires": [
            [
                "1d5a3815.c65d68"
            ]
        ]
    },
    {
        "id": "b1f05819.244508",
        "type": "switch",
        "z": "8a4dd060.9ac4f",
        "name": "Kiểm tra ONLINE",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1670,
        "y": 160,
        "wires": [
            [
                "df26c273.78e56"
            ],
            [
                "123e9a79.afad06"
            ]
        ]
    },
    {
        "id": "123e9a79.afad06",
        "type": "change",
        "z": "8a4dd060.9ac4f",
        "name": "OFFLINE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFFLINE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 200,
        "wires": [
            [
                "1d5a3815.c65d68"
            ]
        ]
    },
    {
        "id": "c9ab74f2.7bf488",
        "type": "json",
        "z": "8a4dd060.9ac4f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1490,
        "y": 160,
        "wires": [
            [
                "b1f05819.244508"
            ]
        ]
    },
    {
        "id": "a379abce.ff3668",
        "type": "change",
        "z": "8a4dd060.9ac4f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "relayId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 200,
        "wires": [
            [
                "8fd91ce0.32a48"
            ]
        ]
    },
    {
        "id": "eeff990a.976a98",
        "type": "ui_template",
        "z": "8a4dd060.9ac4f",
        "group": "c5d131c4.68dcd",
        "name": "[Nâng cao][LOGO]",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<img src=\"http://sv1.upsieutoc.com/2018/07/22/LogoMakr_7PGugo.md.png\">\n<!-- Các bạn vào upsieutoc.com và up ảnh nhé -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2250,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e202306f.f8109",
        "type": "subflow:ecf38133.0b35f",
        "z": "8a4dd060.9ac4f",
        "name": "",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "af1bb445.b840f8"
            ],
            [
                "ea683129.e9412"
            ],
            [
                "39401fe8.59ef2"
            ],
            [
                "4125801c.d831c"
            ]
        ]
    },
    {
        "id": "4f59db5e.1b43e4",
        "type": "ui_template",
        "z": "8a4dd060.9ac4f",
        "group": "cc73e59d.d3a7d8",
        "name": "Nút 1",
        "order": 2,
        "width": "3",
        "height": "2",
        "format": "<!-- checkbox -->\n<li>\n    <div class=\"title-switch\">{{msg.title}}</div>\n\t<input ng-model=\"msg.payload\" ng-true-value=\"'ON'\" ng-false-value=\"'OFF'\" type=\"checkbox\" data-icon1=\"OFF\" data-icon2=\"ON\" ng-change=\"send(msg)\" />\n</li>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "a379abce.ff3668"
            ]
        ]
    },
    {
        "id": "af1bb445.b840f8",
        "type": "change",
        "z": "8a4dd060.9ac4f",
        "name": "Đặt tên nút",
        "rules": [
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "Bơm nước",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "4f59db5e.1b43e4"
            ]
        ]
    },
    {
        "id": "ea683129.e9412",
        "type": "change",
        "z": "8a4dd060.9ac4f",
        "name": "Đặt tên nút",
        "rules": [
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "Hút chân không",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "a793e2d3.04204"
            ]
        ]
    },
    {
        "id": "39401fe8.59ef2",
        "type": "change",
        "z": "8a4dd060.9ac4f",
        "name": "Đặt tên nút",
        "rules": [
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "Máy quạt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "f6692417.9c9a88"
            ]
        ]
    },
    {
        "id": "4125801c.d831c",
        "type": "change",
        "z": "8a4dd060.9ac4f",
        "name": "Đặt tên nút",
        "rules": [
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "Lò hơi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "53da79f9.9ac948"
            ]
        ]
    },
    {
        "id": "a793e2d3.04204",
        "type": "ui_template",
        "z": "8a4dd060.9ac4f",
        "group": "cc73e59d.d3a7d8",
        "name": "Nút 2",
        "order": 2,
        "width": "3",
        "height": "2",
        "format": "<!-- checkbox -->\n<li>\n    <div class=\"title-switch\">{{msg.title}}</div>\n\t<input ng-model=\"msg.payload\" ng-true-value=\"'ON'\" ng-false-value=\"'OFF'\" type=\"checkbox\" data-icon1=\"OFF\" data-icon2=\"ON\" ng-change=\"send(msg)\" />\n</li>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 790,
        "y": 180,
        "wires": [
            [
                "a379abce.ff3668"
            ]
        ]
    },
    {
        "id": "f6692417.9c9a88",
        "type": "ui_template",
        "z": "8a4dd060.9ac4f",
        "group": "cc73e59d.d3a7d8",
        "name": "Nút 3",
        "order": 2,
        "width": "3",
        "height": "2",
        "format": "<!-- checkbox -->\n<li>\n    <div class=\"title-switch\">{{msg.title}}</div>\n\t<input ng-model=\"msg.payload\" ng-true-value=\"'ON'\" ng-false-value=\"'OFF'\" type=\"checkbox\" data-icon1=\"OFF\" data-icon2=\"ON\" ng-change=\"send(msg)\" />\n</li>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 790,
        "y": 220,
        "wires": [
            [
                "a379abce.ff3668"
            ]
        ]
    },
    {
        "id": "53da79f9.9ac948",
        "type": "ui_template",
        "z": "8a4dd060.9ac4f",
        "group": "cc73e59d.d3a7d8",
        "name": "Nút 4",
        "order": 2,
        "width": "3",
        "height": "2",
        "format": "<!-- checkbox -->\n<li>\n    <div class=\"title-switch\">{{msg.title}}</div>\n\t<input ng-model=\"msg.payload\" ng-true-value=\"'ON'\" ng-false-value=\"'OFF'\" type=\"checkbox\" data-icon1=\"OFF\" data-icon2=\"ON\" ng-change=\"send(msg)\" />\n</li>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "a379abce.ff3668"
            ]
        ]
    },
    {
        "id": "f256d3ad.926ad",
        "type": "http request",
        "z": "8a4dd060.9ac4f",
        "name": "[REST][GET]Phòng tròn",
        "method": "GET",
        "ret": "txt",
        "url": "https://connect.mysmarthome.vn/api/1.0/request/PsxUPldlbBNEuEUTi7Ci5yls77R2/SkrENURSX/b36841b191dfd6a1209e6cdb41a01b36634150310324/req_device",
        "tls": "",
        "x": 1190,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8fd91ce0.32a48",
        "type": "http request",
        "z": "8a4dd060.9ac4f",
        "name": "[REST][POST]Phòng tròn",
        "method": "POST",
        "ret": "txt",
        "url": "https://connect.mysmarthome.vn/api/1.0/request/PsxUPldlbBNEuEUTi7Ci5yls77R2/SkrENURSX/b36841b191dfd6a1209e6cdb41a01b36634150310324/req_device_toggle",
        "tls": "",
        "x": 1190,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d062017d.5508d",
        "type": "mqtt in",
        "z": "8a4dd060.9ac4f",
        "name": "[MQTT-IN]Phòng tròn",
        "topic": "request/PsxUPldlbBNEuEUTi7Ci5yls77R2/SkrENURSX/b36841b191dfd6a1209e6cdb41a01b36634150310324",
        "qos": "2",
        "broker": "484b9347.cae5fc",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "e202306f.f8109"
            ]
        ]
    },
    {
        "id": "2bb4d633.bbbaba",
        "type": "inject",
        "z": "8a4dd060.9ac4f",
        "name": "",
        "topic": "",
        "payload": "{\"id\": 0, \"command\":\"TOGGLE\"}",
        "payloadType": "json",
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 930,
        "y": 320,
        "wires": [
            []
        ]
    }
]